CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y
# CT_PREFIX_DIR_RO is not set
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_PARALLEL_JOBS=48
CT_LOAD="48"
CT_EXTRA_CFLAGS_FOR_BUILD="-mtune=native -march=native"
CT_EXTRA_CFLAGS_FOR_HOST="-mtune=native -march=native"
CT_LOG_INFO=y
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_OMIT_TARGET_VENDOR=y
# CT_SHOW_CT_VERSION is not set
CT_KERNEL_LINUX=y
CT_LINUX_SRC_DEVEL=y
CT_LINUX_DEVEL_BRANCH="v5.4"
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_BINUTILS_RELRO=y
CT_LIBC_GLIBC=y
CT_GLIBC_SRC_DEVEL=y
CT_GLIBC_DEVEL_URL="https://github.com/NusantaraDevs/glibc.git"
CT_GLIBC_DEVEL_BRANCH="refs/heads/master"
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_VCS_git=y
CT_GCC_DEVEL_URL="https://github.com/gcc-mirror/gcc.git"
CT_GCC_DEVEL_BRANCH="refs/heads/master"
CT_ISL_SRC_DEVEL=y
CT_ISL_DEVEL_BRANCH="refs/heads/master"
